body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/*Globar*/
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background-color: #e0e014;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    cursor: pointer;
}

.dark{
    padding: 15px;
    background: #34524a;
    color: #ffff;
    margin-top:10px;
    margin-bottom:10px;
}


/*Header*/

header{
    background-color: rgb(81, 5, 110);
    color: rgb(255, 255, 255);
    padding-top: 30px;
    min-height: 60px;
    border-bottom:rgb(230, 14, 14) 3px solid;
}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}


header li{
    float: left;
    display: inline;
    margin-top: 10px;
    padding:0 20px 0 20px;
}

header #branding{
    float: left;
    margin-bottom: 20px;
    box-sizing: border-box;
}

header img{
    margin-left: 30px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
}

header .highlight, header .current a{
    color:#fbff24;
    font-weight: bold;
}

header .secondHighlight{
    color:#2ba029;
    font-weight: bold;
}

header a:hover{
    color: rgb(66, 132, 66);
    font-weight:700;
}

/*Showcase */
#showcase{
    min-height: 400px;
    background-image: url(../img/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 1%;
    text-align: center;
    color: #ffff;
}

#showcase h1{
    margin-top: 80px;
    font-size: 55px;
    margin-bottom: 10px;
    line-height: 1.2em;
}

#showcase p{
    font-size:20px;
}

/*Newsletter*/

#newsletter{
    padding: 15px;
    color: white;
    background-color: #589357;
}

#newsletter h1{
    float: left;
}
#newsletter .my-form{
    float: right;
    margin: 15px
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: none;
    border-bottom: red 3px solid;
}

#newsletter input[type="email"]:focus{
    outline: none;
    border-bottom: rgb(46, 137, 227) 3px solid;
}

/*Boxes*/
#boxes{
    margin-top: 20px ;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
width: 90px;
}

/*sidebar*/

#main .container #sidebar{
   float: right;
   margin-top: 10px;
   width: 30%;
}

/* Main-col*/

article#main-col{
    float: left;
    width: 65%;
}

aside#sidebar .quote input[type="text"], aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

/*Services */
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccc dotted 2px;
    margin-bottom: 10px;
    background-color: #e6e6e6;
}


footer{
    padding: 20px;
    margin-top: 78px;
    color: black;
    background-color: #589357;
    text-align: center;
}

/* Media Queries */
@media (max-width: 760px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form, 
    #boxes .box, 
    article#main-col,
    #main .container #sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 20px;
        line-height: 1.2em;
    }

    #newsletter .my-form button, .quote button {
        display: block;
        width: 100%;
    }

    #newsletter .my-form input[type="email"] {
        width: 100%;
        margin-bottom: 5px;
    }
}

